<article class="news"> 
    <%- data %>
</article> 
<nav role="navigation" class="articles_nav">
    <% if (previous !== undefined) { %>
    <a href="<%= previous.meta.filename %>.html">
        <p>article précédent</p>
        <h3><%- previous.meta.title_html %></h3>
    </a>
    <% } %>
    <% if (next !== undefined) { %>
    <a href="<%= next.meta.filename %>.html">
        <p>article suivant</p>
        <h3><%- next.meta.title_html %></h3>
    </a>
    <% } %>
</nav>