<article class="news"> 
    <%- data %>
</article> 
<nav role="navigation" class="articles_nav <%= (previous === undefined)?'next-only':'' %>">
    <% if (previous !== undefined) { %>
    <a href="<%= previous.meta.filename %>.html">
        <p>article précédent</p>
        <p><%- previous.meta.title_html %></p>
    </a>
    <% } %>
    <% if (next !== undefined) { %>
    <a href="<%= next.meta.filename %>.html">
        <p>article suivant</p>
        <p><%- next.meta.title_html %></p>
    </a>
    <% } %>
</nav>