<div class="articles articles_summary">
    <ul>
    <% data.forEach(e => { %>
        <li>
            <a href="./<%= e.meta.filename %>.html">
                <div>
                    <h2><%- e.meta.title_html %></h2>
                    <p class="subtitle"><%- e.meta.subtitle_html %></p>
                    <img class="article_teaser" src="<%= e.meta.img %>" alt="" />
                    <p class="intro"><%- e.meta.intro_html %></p>
                </div>
                <div>
                    <p class="date"><%= new Date(e.meta.date).toLocaleDateString('fr', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                </div>
            </a>
        </li>
    <% }) %>
    </ul>
</div>