<div id="toc">
    <div id="disc-control">
        <h3 id="titre-affichage">Affichage</h3>
        <input type="checkbox" id="open-disclosure-methodo"></input><label for="open-disclosure-methodo"> Afficher la méthodologie</label><br />
        <input type="checkbox" id="open-disclosure-mapping"></input><label for="open-disclosure-mapping"> Afficher les correspondances</label>
    </div>
    <h3 id="titre-sommaire"><%= summaryTitle %></h3>
    <nav class="nav" aria-labelledby="titre-sommaire">
        <%- (list_type == "ol")?"<ol>":"<ul>" %>
        <% topics.forEach(topic => { %>
            <li>
                <a href="#<%= topic.id %>"><%= topic.text %></a> 
            </li>
        <% }) %>
        <%- (list_type == "ol")?"</ol>":"</ul>" %>   
    </nav> 
</div>
<div id="topics"> 
<%- data %>
</div> 