<footer role="contentinfo" class="footer">
    <div class="container">
        <ul class="footer-links">
            <% links.forEach(e => { %>
                <li>
                    <a href="<%= prefix %>/html/<%= lang %>/<%= e.name %>.html"><%= e.menu %></a>
                </li>
            <% }) %>
        </ul>
        <p><%- editorsNote.start %><a href="<%= prefix %>/html/fr/aspects-legaux.html#charte-des-cookies"><%- editorsNote.end %></a></p>
    </div>
</footer>