<footer role="contentinfo" class="footer">
    <div class="container">
        <ul class="footer-links">
            <% links.forEach(e => { %>
                <li>
                    <a href="<%= prefix %>/html/<%= lang %>/<%= e.name %>.html"><%= e.menu %></a>
                </li>
            <% }) %>
        </ul>
        <% 
            const urlSIP = `https://sip.gouvernement.lu/${lang}.html`;
            const urlCookies = `${prefix}/html/${lang}/aspects-legaux.html#`;
            const urlCookiesAnchor = __`cookie-charter`;
         %>
        <p>
            <%- __`This site is published by the <a href="${urlSIP}">Information and Press Service</a>. We use cookies to guarantee you better access to information by analyzing usage statistics. For more information, please consult our <a href="${urlCookies}${urlCookiesAnchor}">cookies policy</a>.` %>
        </p>
    </div>
</footer>