<% Object.keys(glossary).forEach(section => { %>
    <h3 id="<%= section %>"><%= section %></h3>
    <% glossary[section].forEach(e => { %>
        <dl>
            <dt class="glossary" id="<%= slugify(e.id) %>">
                <%- md.renderInline(e.title) %> <a href="#<%= slugify(e.id) %>" title="<%= e.id %>"><img class="glossary-anchor" aria-hidden="true" src="../../../img/hyperlink.svg"></a>
            </dt>
            <dd>
                <%- e.body %>
            </dd>
        </dl>
    <% }); %>
<% }) %>

