<% Object.keys(glossary).forEach(section => { %>
    <h3 id="<%= section %>"><%= section %></h3>
    <% glossary[section].forEach(e => { %>
        <dl>
            <dt id="<%= slugify(e.title) %>">
                <%= e.title %>
            </dt>
            <dd>
                <%- e.body %>
            </dd>
        </dl>
    <% }); %>
<% }) %>

