<header role="banner" id="banner" class="banner">
  <div class="skip-link">
      <a href="#main">Aller au contenu</a>
  </div> 
  <div class="menu-container" id="top">
    <h1>Portail de l'accessibilité numérique</h1>
    <ul class="menu-lang">
      <li>
        <% if (lang === "fr") { %>
          <p><span class="sr-only">Version française</span>FR</p>
        <% } else { %>
          <a class="Version française - FR" lang="fr" hreflang="fr" href="/fr">FR</a>
        <% } %>
      </li>
      <li>
        <% if (lang === "de") { %>
          <p><span class="sr-only">Deutsche Fassung</span>DE</p>
        <% } else { %>
          <a class="Deutsche Fassung - DE" lang="de" hreflang="de" href="/de">DE</a>
        <% } %>
      </li>
      <li>
        <% if (lang === "en") { %>
          <p><span class="sr-only">English version</span>EN</p>
        <% } else { %>
          <a class="English version - EN" lang="en" hreflang="en" href="/en">EN</a>
        <% } %>
      </li>
    </ul>
    <nav role="navigation" id="navi" aria-label="menu principal">
      <div id="frameworks" aria-hidden="true">référentiels</div>
      <button id="toggle-menu" class="toggle-menu" aria-expanded="false"><span aria-hidden="true">≡</span>Menu</button>
      <ul class="disclosure-nav">
            <% nav.forEach(e => { %>
              <% if (e.children !== undefined) { %>
                <li <%= (e.children.map(f => { return f.name}).includes(name))?'class=selected':'' %>>
                  <button
                    class="submenu"
                    aria-expanded="false"
                    aria-controls="<%= e.name %>_menu"
                    <%= (e.children.map(f => { return f.name}).includes(name))?'aria-current=true':'' %>>
                    <%- e.menu %>
                  </button>
                  <ul id="<%= e.name %>_menu">
                    <% e.children.forEach(f => { %>
                      <li>
                        <a data-name="<%- f.name %>" 
                          <%- (f.name === name)?'aria-current="page"':'' %>
                          <% if (f.url !== undefined) { %>
                            href="<%= f.url %>"><%= f.menu %>
                          <% } else { %>
                            href="<%= prefix %>/html/<%= lang %>/<%= f.name %>.html"><%= f.menu %>
                          <% } %>
                          
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                </li>
              <% } else {%>
                <li <%- (e.name === name)?'class="selected"':'' %>>
                  <a <%- (e.name === name)?'aria-current="page"':'' %><%- (e.name === 'index')?'class="home"':''  %> 
                    href="<%= prefix %>/html/<%= lang %>/<%= e.name %>.html"><%- e.menu %></a>
                </li>          
              <% } %>
            <% }) %>
        </ul>
      </div>
    </nav>
  </div>
</header>

