<header role="banner" id="banner" class="banner">
  <div class="menu-container">
    <h1>Portail de l'accessibilité numérique</h1>
    <nav>
      <div id="frameworks" aria-hidden="true">référentiels</div>
      <button id="toggle-menu" class="toggle-menu" aria-expanded="false"><span aria-hidden="true">≡</span>Menu</button>
      <ul class="disclosure-nav">
            <% nav.forEach(e => { %>
              <% if (e.children !== undefined) { %>
                <li>
                  <button
                    class="submenu"
                    aria-expanded="false"
                    aria-controls="<%= e.name %>_menu">
                    <%- e.title %>
                  </button>
                  <ul id="<%= e.name %>_menu">
                    <% e.children.forEach(f => { %>
                      <li>
                        <a data-name="<%- f.name %>" 
                          <%- (f.name === name)?'aria-current="page"':'' %>
                          <% if (f.url !== undefined) { %>
                            href="<%= f.url %>"><%= f.menu %>
                          <% } else { %>
                            href="<%= prefix %>/html/fr/<%= f.name %>.html"><%= f.menu %>
                          <% } %>
                          
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                </li>
              <% } else {%>
                <li <%- (e.name === name)?'class="selected"':'' %>>
                  <a <%- (e.name === name)?'aria-current="page"':'' %><%- (e.name === 'index')?'class="home"':''  %> 
                    href="<%= prefix %>/html/fr/<%= e.name %>.html"><%- e.menu %></a>
                </li>          
              <% } %>
            <% }) %>
        </ul>
      </div>
    </nav>
  </div>
</header>

