<aside class="articles_home">
<h3><%= __('Latest news') %></h3>
<div><ul>
<% latest_news.forEach(article => { %>
<li><a href="news/<%= article.meta.filename %>.html" <%= (article.meta.lang !== undefined)?'lang='+article.meta.lang:'' %>><p><%- article.meta.title_html %></p><img src="<%= article.meta.img %>" alt=""></a></li>
<% }) %>
</ul></div>
</aside>