<% if (shortList.length == 0 || topic.criteria.filter(crit => shortList.includes(topic.number+'.'+crit.criterium.number)).length !== 0) { %> 
<article>
<h3 id="topic-<%= topic.number %>">
    <button aria-expanded="false" aria-controls="sect<%= topic.number %>" class="accordion-trigger" id="accordion<%= topic.number %>id">
        <span class="accordion-title">
            <span class="accordion-icon"></span>
            <span class="chapter"><%= topic.number %></span>
            <span class="theme-name"><%= md.renderInline(topic.topic) %></span>
        </span>
    </button>
    <a href="#topic-<%= topic.number %>" class="topic-anchor" title="Lien vers le thème <%= topic.number %>">&nbsp;</a>
</h3>
<div id="sect<%= topic.number %>" role="region" aria-labelledby="accordion<%= topic.number %>id" class="accordion-panel" hidden="until-found">
<% topic.criteria.forEach(crit => { 
    let critId = `crit-${topic.number}-${crit.criterium.number}`
    if (shortList.length == 0 || (shortList.includes(topic.number+'.'+crit.criterium.number))) {
        let rawebonlyClass = "rawebOnly";
        let rawebonlyData = 'data-rawebOnly="true"';
        let rawebCriterion = "nouveau critère RAWeb";
        if (crit.criterium.references[0].wcag !== undefined && crit.criterium.references[0].wcag.length !== 0) {
            rawebonlyClass = '';
            rawebonlyData = '';
            rawebCriterion = "critère";
        }
        if (crit.criterium.references[0].wcag == undefined) {'rawebOnly'}
%>
    <h4 id="<%= critId %>">
        <span class="<%- rawebonlyClass %>" <%- rawebonlyData %>>
            <span class="sr-only"><%= rawebCriterion %> </span>
            <%= topic.number %>.<%= crit.criterium.number %>
        </span>
        <p><%- md.renderInline(crit.criterium.title) %> <a class="anchor" title="Lien vers le critère <%= topic.number %>-<%= crit.criterium.number %>" href="#<%= critId %>"><img aria-hidden="true" src="../../../img/hyperlink.svg"></a></p>
        <div>
            <span class="sr-only">Niveau de conformité </span>
            <%= levels[topic.number+'.'+crit.criterium.number] %>
        </div>
    </h4>
    <details class="discover rawebTests">
        <summary>Parcourir les tests</summary>
        <% Object.keys(crit.criterium.tests).forEach(testId => {
            let test = crit.criterium.tests[testId]
            let ref = `test-${topic.number}-${crit.criterium.number}-${testId}`
            let metho = crit.criterium.metho[testId]
        %>
        <h5 id="<%= ref %>">
            <span>
                <span class="sr-only">Test </span>
                <%= topic.number %>.<%= crit.criterium.number%>.<%= testId %>
            </span>
            <% if (typeof test == 'object') { %>
                <p><%- md.renderInline(test[0]) %>   <a class="anchor" title="Lien vers le test <%= topic.number %>-<%= crit.criterium.number %>-<%= testId %>" href="#<%= topic.number %>-<%= crit.criterium.number %>-<%= testId %>"><img aria-hidden="true" src="../../../img/hyperlink.svg"></a></p></h5>
                <ul>
                <% for (let i=1; i< test.length; i++) { %>
                    <li><p><%- md.renderInline(test[i]) %></p></li>
                <% } %>
                </ul>
            <% } else { %>
                <p><%- md.renderInline(test) %>  <a class="anchor" title="Lien vers le test <%= topic.number %>-<%= crit.criterium.number %>-<%= testId %>" href="#<%= topic.number %>-<%= crit.criterium.number %>-<%= testId %>"><img aria-hidden="true" src="../../../img/hyperlink.svg"></a></p></h5>
            <% } %>
        <% if (metho !== '') { %>
            <details class="methodo">
                <summary aria-live="polite">Découvrir la méthodologie du test</summary>
                <div>
                    <%- metho %>
                </div>
            </details>            
        <% } %>
        <% }) %>
    </details>

    <% if (crit.criterium.notes !== '') { %>
        <%
        let firstLine = crit.criterium.notes.toString().split('<p>')[0];
            const noteTitle = firstLine.slice(4,-6);
            let noteContent = crit.criterium.notes.replace(/<h5>(.*?)<\/h5>/, '');
        
        %>
        <details class="discover rawebNotes">
            <summary><%- noteTitle %></summary>
            <%- noteContent %>
        </details>
    <% } %>

    <details class="discover rawebCorr">
        <summary>Afficher les correspondances</summary>
        <div>
            <ul>
                <% if (crit.criterium.references[0].wcag !== undefined && crit.criterium.references[0].wcag.length !== 0) { %>
                <li><p>Critères de succès WCAG 2.1</p>
                <p>
                        <% let SC = crit.criterium.references[0].wcag.map(e => { return e.trim() })
                        SC.forEach(e => { %><a href="https://www.w3.org/Translations/WCAG21-fr/#<%= slugify(e) %>"><%- langOnWCAG(e) %></a><%= (SC.indexOf(e) != (SC.length-1))?', ': '.' %><%}) %>
                </p>
            </li>
                <% } %>            
                <% if (crit.criterium.references[1].techniques !== undefined && crit.criterium.references[1].techniques.length !== 0) { %>
                <li><p>Technique(s) suffisante(s) et/ou échec(s) WCAG 2.1</p>
                    <p>
                            <% let techs = crit.criterium.references[1].techniques.map(e => { return e.trim() })
                                techs.forEach(e => { %><a href="<%= tech2URL(e) %>" hreflang="en"><%= e %></a><%= (techs.indexOf(e) != (techs.length-1))?', ': '.' %><% }) 
                            %>
                    </p>
                </li>
                <% } %>
                <% if (crit.criterium.references[2].norm !== undefined) { %>
                    <% if (Array.isArray(crit.criterium.references[2].norm) && crit.criterium.references[2].norm.length !== 0) { %>
                        <li><p><%= normVersion %></p>
                            <p><% crit.criterium.references[2].norm.forEach(e => { %>
                                    <%- langOnEUNorm(e.trim()); %><%= (crit.criterium.references[2].norm.indexOf(e) != (crit.criterium.references[2].norm.length-1))?', ': '.' %>
                                    <% }) %>
                            </p> 
                        </li>           
                            <% } else { %>
                                <li><p><%= normVersion %></p>
                                    <p><%= crit.criterium.references[2].norm %></p>
                                </li>
                    <% } %>    
                <% } %>
            </ul>
            <% if (autoTests[topic.number+'.'+crit.criterium.number] !== undefined) { %>
                <h6>Correspondances tests automatisés</h6>
                <ul>
                <% autoTests[topic.number+'.'+crit.criterium.number].forEach(e => { %>
                    <li>
                    <% if (e.id !== undefined) { %>
                        Règle Axe: <a href="https://dequeuniversity.com/rules/axe/4.1/<%= e.id %>"><%= e.id %> - <span lang="en">"<%= e.msg %>"</span></a>
                    <% } else { %>
                        <%- e.msg %>
                    <% } %>
                    </li>
                <% }) %>
                </ul>           
            <% } %>
        </div>
    </details>
       
<% 
    }
})%>
</div> 
</article>
<% } %>