<article>
<h3 id="topic-<%= topic.number %>">
    <a href="#topic-<%= topic.number %>">Thématique <%= topic.number %></a> : 
    <%= md.renderInline(topic.topic) %>
</h3>
<% topic.criteria.forEach(crit => { 
    let critId = `crit-${topic.number}-${crit.criterium.number}`
    if (shortList.length == 0 || (shortList.includes(topic.number+'.'+crit.criterium.number))) {
%>
    <h4 id="<%= critId %>">
        <a href="#<%= critId %>">Critère <%= topic.number %>.<%= crit.criterium.number %></a> [<%= levels[topic.number+'.'+crit.criterium.number] %>]
        : <%- md.renderInline(crit.criterium.title) %></h4>
        <ul>
            <% Object.keys(crit.criterium.tests).forEach(testId => {
                let test = crit.criterium.tests[testId]
                let ref = `test-${topic.number}-${crit.criterium.number}-${testId}`
            %>
                <li id="<%= ref %>">
                    <a href="#<%= ref %>">Test <%= topic.number %>.<%= crit.criterium.number%>.<%= testId %></a> :
                    <% if (typeof test == 'object') { %>
                        <%- md.renderInline(test[0]) %>
                        <ul>
                        <% for (let i=1; i< test.length; i++) { %>
                            <li><%- md.renderInline(test[i]) %></li>
                        <% } %>
                        </ul>
                    <% } else { %>
                        <%- md.renderInline(test) %>
                    <% } %>
                    <% if (shortList.length !== 0 && !(topic.number == "5" && crit.criterium.number == "6" && testId == "4")) { // hotfix for RGAA 4.1 %> 
                        <a href="../../../html/fr/rgaa4.1/methodo-test.html#test-<%= topic.number %>.<%= crit.criterium.number%>.<%= testId %>">Procédure pour le test <%= topic.number %>.<%= crit.criterium.number%>.<%= testId %></a>
                    <% } %>
                </li>
            <% }) %>
        </ul>
        <aside>
            <% if (crit.criterium.technicalNote !== undefined) { %>
                <h5>Notes techniques</h5>
                <% crit.criterium.technicalNote.forEach(e => { %>
                    <%- include('./leaf.ejs', {e: e, md: md, depth: 0}) %>
                <% }) %>
            <% } %>
            <% if (crit.criterium.particularCases !== undefined) { %>
                <h5>Cas particuliers</h5>
                <% crit.criterium.particularCases.forEach(e => { %>
                    <%- include('./leaf.ejs', {e: e, md: md, depth: 0}) %>
                <% }) %>
            <% } %>            
            <h5>Correspondances WCAG 2.1</h5>

            <ul>
                <li>Critères de succès WCAG 2.1 :
                <% let SC = crit.criterium.references[0].wcag.map(e => { return e.split('/')[1].trim() })
                    SC.forEach(e => { %><a href="https://www.w3.org/Translations/WCAG21-fr/#<%= slugify(e) %>"><%- langOnWCAG(e) %></a><%= (SC.indexOf(e) != (SC.length-1))?', ': '.' %><%}) %>
                </li>
                <% if (crit.criterium.references[1].techniques.length !== 0) { %>
                    <li>Technique(s) suffisante(s) et/ou échec(s) WCAG 2.1 :
                    <% let techs = crit.criterium.references[1].techniques.map(e => { return e.trim() })
                        techs.forEach(e => { %><a href="<%= tech2URL(e) %>" hreflang="en"><%= e %></a><%= (techs.indexOf(e) != (techs.length-1))?', ': '.' %><% }) 
                    %>
                    </li>
                <% } %>
            </ul>
            <h5>Correspondances EN 301 549 V2.1.2 (2018-08)</h5>
            <ul>
            <% crit.criterium.references[0].wcag.forEach(e => { %>
                <li><%- langOnEUNorm(e.trim()) %></li>
            <% }) %>
            </ul>
            <% if (autoTests[topic.number+'.'+crit.criterium.number] !== undefined) { %>
                <h5>Correspondances tests automatisés</h5>
                <ul>
                <% autoTests[topic.number+'.'+crit.criterium.number].forEach(e => { %>
                    <li>
                    <% if (e.id !== undefined) { %>
                        Règle Axe: <a href="https://dequeuniversity.com/rules/axe/4.1/<%= e.id %>"><%= e.id %> - <span lang="en">"<%= e.msg %>"</span></a>
                    <% } else { %>
                        <%- e.msg %>
                    <% } %>
                    </li>
                <% }) %>
                </ul>           
            <% } %>
        </aside>     
<% 
    }
})%>
</article>